.output-card{
    display:flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
}

.output-card h1{
    font-size: 2rem;
    margin: auto;
    color: rgb(0, 0, 86)
}